* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgb(20, 19, 19);
   
   
    >.text {
        width: 360px;
        height: 360px;
        position: relative;
         display: flex;
         justify-content: center;
         align-items: center;
         >img{
            width: 70%;
            height: 70%;
            object-fit: cover;
            border-radius: 20px 20px 20px 20px;
            box-shadow: 0 0 50px 1px rgba(255, 208, 215, 0.836);
            transition: .4s;
            &:hover{
                scale: .80;
               
            }
         }
        >span {
            position: absolute;
            top: -20%;
            margin-right: 20px;
            font-size: 35px;
            animation: frameMove 10s ;
            &:nth-of-type(1) {
                left: 15px;
                color: rgb(147, 237, 255);
                animation-delay: 1s;
            }

            &:nth-of-type(2) {
                left: 25px;
                color: rgb(255, 181, 214);
                animation-delay:2s ;
            }

            &:nth-of-type(3) {
               left: 40px;
                color: rgb(241, 255, 187);
                animation-delay: 3s;
            }

            &:nth-of-type(4) {
               left: 55px;
                color: rgb(201, 146, 253);
                animation-delay:4s ;
            }

            &:nth-of-type(5) {
               left: 75px;
                animation-delay: 5s;
                color: rgb(238, 20, 20);
            }
        }
    }
}

@keyframes frameMove {
    0% {
        top: 0;
        left: 0;
        transform: rotate(0deg);
    }

    24% {
        top: 0;
        left: 100%;
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    49% {
        top: 100%;
        left: 100%;
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    74% {
        top: 100%;
        left: 0%;
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    99% {
        top: 0%;
        left: 0%;
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}